.title {
	font-weight: 500;
    font-size: 4.5em;
    opacity: 0.65;
    color: white;
    font-family: Lato;

}

.portfolio {
    opacity: 0.65;
    font-family: Lato;
    color: white;
    font-family: Lato;
}

.hr {
        border-top: 1px solid #8c8b8b;
        border-bottom: 1px solid #fff;
    }

.enter {
        font-size: 1.5em;
    }